<section class="content" style="padding-top:30px">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Xóa bạn bè
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/friendships" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Người dùng:</dt>
                <dd class="col-sm-9">
                    <%= friendship.user_id ? friendship.user_id.username : 'Không xác định' %>
                </dd>
                <dt class="col-sm-3">Người bạn của người dùng:</dt>
                <dd class="col-sm-9">
                    <%= friendship.friend_id ? friendship.friend_id.username : 'Không xác định' %>
                </dd>
                <dt class="col-sm-3">Trạng thái:</dt>
                <dd class="col-sm-9">
                    <%= friendship.status %>
                </dd>
                <dt class="col-sm-3">Ngày theo dõi:</dt>
                <dd class="col-sm-9">
                    <%= formatDate(friendship.created_at) %>
                </dd>
            </dl>
            <form action="/admin/friendships/delete/<%= friendship._id %>" method="POST">
                <p>Bạn có chắc chắn muốn xóa phân quyền này không?</p>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
