<section class="content" style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Xóa Bình Luận
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/messages" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Mã tin nhắn:
                </dt>
                <dd class="col-sm-9">
                    <%= message._id %>
                </dd>
                <dt class="col-sm-3">
                    Người gửi:
                </dt>
                <dd class="col-sm-9">
                    <%= message.sender_id.username %>
                </dd>
                
                <dt class="col-sm-3">
                    Người nhận:
                </dt>
                <dd class="col-sm-9">
                    <%= message.receiver_id.username %>
                </dd>

                <dt class="col-sm-3">
                    Nội dung tin nhắn:
                </dt>
                <dd class="col-sm-9">
                    <%= message.content %>
                </dd>

                <dt class="col-sm-3">
                    Ngày gửi:
                </dt>
                <dd class="col-sm-9">
                    <%= formatDate(message.created_at) %>
                </dd>
            </dl>
            <form action="/admin/messages/delete/<%= message._id %>" method="POST">
                <p>Bạn có chắc chắn muốn xóa bình luận này không?</p>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger custom-btn">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
