<section class="content"  style="padding-top:30px"></section>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Xóa thông báo
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/notifications" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Mã thông báo:
                </dt>
                <dd class="col-sm-9">
                    <%= notification._id %>
                </dd>

                <dt class="col-sm-3">
                    Người nhận thông báo:
                </dt>
                <dd class="col-sm-9">
                    <%= notification.user_id ? notification.user_id.username : 'Không xác định' %>
                </dd>

                <dt class="col-sm-3">
                    Nội dung thông báo
                </dt>
                <dd class="col-sm-9">
                    <%= notification.message %>
                </dd>

                <dt class="col-sm-3">
                    Trạng thái:
                </dt>
                <dd class="col-sm-9">
                    <% if (notification.read) { %>
                        Đã đọc
                      <% } else { %>
                        Chưa đọc
                      <% } %>
                </dd>

                <dt class="col-sm-3">
                    Ngày nhận:
                </dt>
                <dd class="col-sm-9">
                    <%= formatDate(notification.created_at) %>
                </dd>
            </dl>
            <form action="/admin/notifications/delete/<%= notification.id %>" method="POST">
                <p>Bạn có chắc chắn muốn xóa phân quyền này không?</p>
                <div class="form-group">
                  <button type="submit" class="btn btn-danger custom-btn">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </div>
            </form>
        </div>
    </div>
  </section>