<section class="content" style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-end text-danger text-uppercase">
                    <div class="d-flex justify-content-start align-items-center text-primary text-uppercase">
                        Chi tiết thông báo
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a href="/admin/notifications/edit/<%= notification._id %>" class="btn btn-warning mr-2">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="/admin/notifications" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="text-primary">Thông tin thông báo</h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Mã thông báo:
                        </dt>
                        <dd class="col-sm-9">
                            <%= notification._id %>
                        </dd>

                        <dt class="col-sm-3">
                            Người nhận thông báo:
                        </dt>
                        <dd class="col-sm-9">
                            <%= notification.user_id ? notification.user_id.username : 'Không xác định' %>
                        </dd>

                        <dt class="col-sm-3">
                            Nội dung thông báo
                        </dt>
                        <dd class="col-sm-9">
                            <%= notification.message %>
                        </dd>

                        <dt class="col-sm-3">
                            Trạng thái:
                        </dt>
                        <dd class="col-sm-9">
                            <% if (notification.read) { %>
                                Đã đọc
                              <% } else { %>
                                Chưa đọc
                              <% } %>
                        </dd>

                        <dt class="col-sm-3">
                            Ngày nhận:
                        </dt>
                        <dd class="col-sm-9">
                            <%= formatDate(notification.created_at) %>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
