<head>
    <link rel="stylesheet" href="../../../stylesheets/pagination.css">
</head>
<section class="content"  style="padding-top:30px"></section>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Danh sách thông báo
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/notifications/create" class="btn btn-success">
                            <i class="fas fa-plus"></i> Thêm
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Mã thông báo</th>
                        <th>Người dùng</th>
                        <th>Nội dung thông báo</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% notifications.forEach(function(notification) { %>
                        <tr>
                            <td><%= notification._id %></td>
                            <td><%= notification.user_id ? notification.user_id.username : 'Không xác định' %></td>
                            <td style="width: 350px; height: 50px;"><%= notification.message %></td>
                            <td>
                                <% if (notification.read) { %>
                                    Đã đọc
                                  <% } else { %>
                                    Chưa đọc
                                  <% } %>
                            </td>
                            <td>
                                <a href="/admin/notifications/edit/<%= notification._id %>" class="btn btn-warning btn-sm btn-action">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a href="/admin/notifications/details/<%= notification._id %>" class="btn btn-info btn-sm btn-action">
                                    <i class="fas fa-info-circle"></i> Chi tiết
                                </a>
                                <a href="/admin/notifications/delete/<%= notification._id %>" class="btn btn-danger btn-sm btn-action">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('../layouts/pagination', { currentPage: currentPage, totalPages: totalPages }) %>
        </div>
    </div>
</section>