
<section class="content"  style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Cập nhật bài đăng
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/posts" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/admin/posts/edit/<%= post._id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-md-2" for="username">Người dùng:</label>
                    <select class="form-control" name="username" required>
                        <% users.forEach(function(user) { %>
                            <option value="<%= user._id %>" <%= post.user_id.equals(user._id) ? 'selected' : '' %>><%= user.username %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-2" for="title">Tiêu đề bài đăng:</label>
                    <input type="text" class="form-control" name="title" value="<%= post.title %>" required>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-2" for="content">Nội dung bài đăng:</label>
                    <textarea class="form-control" name="content" required><%= post.content %></textarea>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-2" for="like_count">Số lượt thích:</label>
                    <input type="number" class="form-control" name="like_count" value="<%= post.like_count %>" required>
                </div>
                <div class="form-group">
                    <label for="profile_picture">Ảnh sản phẩm:</label>
                    <input type="file" class="form-control-file" name="image" accept="image/*">
                    <% if (post.image) { %>
                        <img src="/<%= post.image %>" alt="<%= post.username %>" class="img-fluid mt-2" style="max-width: 200px;">
                    <% } %>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>