<style>
    .list-unstyled li {
        margin-bottom: 50px; /* Thay đổi giá trị này theo ý muốn */
    }
    .post-content {
        position: relative; /* Đảm bảo rằng các phần tử bên trong được định vị đúng */
    }

    .post-meta {
        margin-top: 10px; /* Tạo khoảng cách với nội dung phía trên */
        padding: 10px 0; /* Tạo khoảng cách bên trong cho phần này */
        border-top: 1px solid #e0e0e0; /* Tạo đường kẻ trên để phân tách */
    }
    .post-images img {
        width: 100%; /* Đảm bảo ảnh có chiều rộng 100% của cột */
        height: 200px; /* Giữ tỉ lệ ảnh */
        overflow: auto;
        border-radius: 5px; /* Bo góc ảnh */
        transition: transform 0.2s; /* Hiệu ứng khi hover */
    }

    .post-images img:hover {
        transform: scale(1.05); /* Tăng kích thước ảnh một chút khi hover */
        filter: brightness(0.9); /* Thêm hiệu ứng làm tối khi hover */
    }


</style>
<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile">
                            <figure>
                                <div class="edit-pp">
                                    <label class="fileContainer">
                                        <i class="fa fa-camera"></i>
                                        <input type="file">
                                    </label>
                                </div>
                                <img src="/images/resources/profile-image.jpg" alt="">
                                <ul class="profile-controls">
                                    <li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
                                    <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
                                    <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
                                    <li>
                                        <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
                                            <ul class="more-dropdown">
                                                <li><a href="setting.html" title="">Update Profile Photo</a></li>
                                                <li><a href="setting.html" title="">Update Header Photo</a></li>
                                                <li><a href="setting.html" title="">Account Settings</a></li>
                                                <li><a href="support-and-help.html" title="">Find Support</a></li>
                                                <li><a class="bad-report" href="#" title="">Report Profile</a></li>
                                                <li><a href="#" title="">Block Profile</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ol class="pit-rate">
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class=""><i class="fa fa-star"></i></li>
                                    <li><span>4.7/5</span></li>
                                </ol>
                            </figure>
                            
                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3">
                                        <div class="profile-author">
                                            <div class="profile-author-thumb">
                                                <img class="image-profile rounded-circle img-fluid" 
                                                    src="/<%= loggedInUser.profile_picture || '//images/default_profile.png' %>" 
                                                    alt="Profile Image"
                                                    style="width: 200px; height: 150px;"
                                                >
                                                <div class="edit-dp">
                                                    <label class="fileContainer">
                                                        <i class="fa fa-camera"></i>
                                                        <input type="file">
                                                    </label>
                                                </div>
                                            </div>
                                                
                                            <div class="author-content">
                                                <a class="h4 author-name" href="about.html"><%= loggedInUser.name %></a>
                                                <div class="country">Ontario, CA</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-9">
                                        <ul class="profile-menu">
                                            <li>
                                                <a class="" href="timeline.html">Timeline</a>
                                            </li>
                                            <li>
                                                <a class="active" href="about.html">About</a>
                                            </li>
                                            <li>
                                                <a class="" href="timeline-friends.html">Friends</a>
                                            </li>
                                            <li>
                                                <a class="" href="timeline-photos.html">Photos</a>
                                            </li>
                                            <li>
                                                <a class="" href="timeline-videos.html">Videos</a>
                                            </li>
                                            <li>
                                                <div class="more">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                    <ul class="more-dropdown">
                                                        <li>
                                                            <a href="timeline-groups.html">Profile Groups</a>
                                                        </li>
                                                        <li>
                                                            <a href="statistics.html">Profile Analytics</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <ol class="folw-detail">
                                            <li><span>Posts</span><ins>101</ins></li>
                                            <li><span>Followers</span><ins>1.3K</ins></li>
                                            <li><span>Following</span><ins>22</ins></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- user profile banner  -->
                        <div class="col-lg-4 col-md-4">
                            <aside class="sidebar">
                            <div class="central-meta stick-widget">
                                <span class="create-post">Personal Info</span>
                                <div class="personal-head">
                                    <span class="f-title"><i class="fa fa-user"></i> About Me:</span>
                                    <p>
                                        <%= loggedInUser.bio %>
                                    </p>
                                    <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
                                    <p>
                                        <%= loggedInUser.date_of_birth %> 
                                    </p>
                                    <span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
                                    <p>
                                        <%= loggedInUser.phone_number %>
                                    </p>
                                    <span class="f-title"><i class="fa fa-medkit"></i> Blood group:</span>
                                    <p>
                                        B+
                                    </p>
                                    <span class="f-title"><i class="fa fa-male"></i> Gender:</span>
                                    <p>
                                        <%= loggedInUser.gender %> 
                                    </p>
                                    <span class="f-title"><i class="fa fa-globe"></i> Country:</span>
                                    <p>
                                        <%= loggedInUser.address %>
                                    </p>
                                    <span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
                                    <p>
                                        UI/UX Designer 
                                    </p>
                                    <span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
                                    <p>
                                        <%= formatDate(user.created_at) %>
                                    </p>
                                    
                                    <span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
                                    <p>
                                        <%= loggedInUser.email %>
                                    </p>
                                    
                                </div>
                            </div>
                            </aside>	
                        </div>	
                        <div class="col-lg-8 col-md-8">
                            <div class="central-meta">
                                <span class="create-post">General Info<a href="#" title="">See All</a></span>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="gen-metabox">
                                            <span><i class="fa fa-puzzle-piece"></i> Hobbies</span>
                                            <p>
                                                I like to ride the bicycle, swimming, and working out. I also like reading design magazines, and searching on internet, and also binge watching a good hollywood Movies while it’s raining outside.
                                            </p>
                                        </div>
                                        <div class="gen-metabox">
                                            <span><i class="fa fa-plus"></i> Others Interests</span>
                                            <p>
                                                Swimming, Surfing, Uber Diving, Anime, Photography, Tattoos, Street Art.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gen-metabox">
                                            <span><i class="fa fa-mortar-board"></i> Education</span>
                                            <p>
                                                Master of computer science, sixteen years degree From <a href="#" title="">Oxford Uniersity, London</a>
                                            </p>
                                        </div>
                                        <div class="gen-metabox">
                                            <span><i class="fa fa-certificate"></i> Work and experience</span>
                                            <p>
                                                Currently working in the "color hands" web development agency from the last 5 five years as <a href="#" title="">Senior UI/UX Designer</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gen-metabox no-margin">
                                            <span><i class="fa fa-sitemap"></i> Social Networks</span>
                                            <ul class="sociaz-media">
                                                <li><a class="facebook" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="google" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                                <li><a class="vk" href="#" title=""><i class="fa fa-vk"></i></a></li>
                                                <li><a class="instagram" href="#" title=""><i class="fa fa-instagram"></i></a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gen-metabox no-margin">
                                            <span><i class="fa fa-trophy"></i> Badges</span>
                                            <ul class="badged">
                                                <li><img src="/images/badges/badge2.png" alt=""></li>
                                                <li><img src="/images/badges/badge19.png" alt=""></li>
                                                <li><img src="/images/badges/badge21.png" alt=""></li>
                                                <li><img src="/images/badges/badge3.png" alt=""></li>
                                                <li><img src="/images/badges/badge4.png" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>	
                            </div>

                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="central-meta">
                                            <span class="create-post">Bài đăng <a href="#" title="">See All</a></span>
                                            <div class="post-list">
                                                <% if (posts && posts.length > 0) { %>
                                                    <% posts.forEach(post => { %>
                                                        <div class="post-content" style="margin-bottom: 20px; border: 1px solid #e0e0e0; padding: 15px; border-radius: 5px;">
                                                            <h5><%= post.title %></h5>
                                                            <div class="post-meta d-flex justify-content-between">
                                                                <p><%= post.content %></p>
                                                                <span><i class="fa fa-clock"></i> <%= post.created_at.toLocaleString() %></span>
                                                            </div>
                                                            <% if (post.images && post.images.length > 0) { %>
                                                                <div class="post-images row" style="margin-top: 10px;">
                                                                    <% post.images.slice(0, 4).forEach((image, index) => { %> <!-- Hiển thị 4 ảnh đầu tiên -->
                                                                        <div class="col-6" style="padding: 5px;">
                                                                            <img src="/<%= image %>" alt="Post Image" class="img-fluid">
                                                                        </div>
                                                                    <% }) %>
                                                                </div>
                                                                <% if (post.images.length > 4) { %> <!-- Nếu có nhiều hơn 4 ảnh -->
                                                                    <div class="more-images" style="display: none;">
                                                                        <% post.images.slice(4).forEach(image => { %> <!-- Hiện ảnh từ ảnh thứ 5 trở đi -->
                                                                            <img src="/<%= image %>" alt="Post Image" class="modal-image" style="display: none;">
                                                                        <% }) %>
                                                                    </div>
                                                                    <span class="show-more" style="cursor: pointer; display: inline;">(+ <%= post.images.length - 4 %> more)</span>
                                                                <% } %>
                                                            <% } else { %>
                                                                <div class="no-images" style="margin-top: 10px;">
                                                                    <p>Không có ảnh nào trong bài đăng này.</p> <!-- Thông báo khi không có ảnh -->
                                                                </div>
                                                            <% } %>
                                                            
                                                            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="imageModalLabel">All Images</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="modal-images"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="post" data-post-id="<%= post._id %>">
                                                                <i class="fa fa-thumbs-up"></i>
                                                                <span class="like-count"><%= post.like_count %></span>
                                                                <button class="btn btn-like" data-post-id="<%= post._id %>">
                                                                    <i class="fa fa-thumbs-up"></i> Thích
                                                                </button>
                                                                <span style="float: inline-end;"><i class="fa fa-comment"></i> Bình luận</span>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    <% }) %>
                                                <% } else { %>
                                                    <div class="post-content">
                                                        <p>Chưa có bài đăng nào.</p>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                              
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section><!-- content -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const showMoreSpans = document.querySelectorAll('.show-more');

        showMoreSpans.forEach(span => {
            span.addEventListener('click', function () {
                const moreImagesDiv = this.previousElementSibling;
                const modalImagesDiv = document.querySelector('.modal-images');
                modalImagesDiv.innerHTML = '';
                
                // Hiện các ảnh ẩn
                moreImagesDiv.querySelectorAll('img').forEach(img => {
                    img.style.display = 'block';
                    const modalImg = document.createElement('img');
                    modalImg.src = img.src;
                    modalImg.classList.add('modal-image');
                    modalImg.style.width = '100%';
                    modalImagesDiv.appendChild(modalImg);
                });
                
                $('#imageModal').modal('show');
            });
        });
    });

</script>