<form action="/edit-profile" method="POST">
    <div class="form-group">
        <label for="bio">About Me:</label>
        <textarea id="bio" name="bio" class="form-control"><%= user.bio %></textarea>
    </div>
    <div class="form-group">
        <label for="date_of_birth">Birthday:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" value="<%= user.date_of_birth %>">
    </div>
    <div class="form-group">
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= user.phone_number %>">
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" class="form-control">
            <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
            <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
            <option value="Other" <%= user.gender === 'Other' ? 'selected' : '' %>>Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="address">Country:</label>
        <input type="text" id="address" name="address" class="form-control" value="<%= user.address %>">
    </div>
    <div class="form-group">
        <label for="occupation">Occupation:</label>
        <input type="text" id="occupation" name="occupation" class="form-control" value="<%= user.occupation %>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
