<section class="content"  style="padding-top:30px"></section>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Danh sách phân quyền
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/userRoles/create" class="btn btn-success">
                            <i class="fas fa-plus"></i> Thêm
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Mã phân quyền</th>
                        <th>Người dùng</th>
                        <th>Quyền hạn</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% userRoles.forEach(function(userRole) { %>
                        <tr>
                            <td><%= userRole._id %></td>
                            <td><%= userRole.user_id ? userRole.user_id.username : 'Không xác định' %></td>
                            <td><%= userRole.role_id ? userRole.role_id.name : 'Không xác định' %></td>
                            <td>
                                <a href="/admin/userRoles/edit/<%= userRole._id %>" class="btn btn-warning btn-sm btn-action">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a href="/admin/userRoles/details/<%= userRole._id %>" class="btn btn-info btn-sm btn-action">
                                    <i class="fas fa-info-circle"></i> Chi tiết
                                </a>
                                <a href="/admin/userRoles/delete/<%= userRole._id %>" class="btn btn-danger btn-sm btn-action">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</section>