<head>
    <link rel="stylesheet" href="../../../stylesheets/pagination.css">
</head>
<section class="content"  style="padding-top:30px"></section>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Danh sách bình luận
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/comments/create" class="btn btn-success">
                            <i class="fas fa-plus"></i> Thêm
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Người bình luận</th>
                        <th>Bình luận ở bài đăng</th>
                        <th>Nội dung</th>
                        <th>Số lượt thích</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% comments.forEach(function(comment) { %>
                        <tr>
                            <td><%= comment.user_id ? comment.user_id.username : 'Không xác định' %></td>
                            <td><%= comment.post_id ? comment.post_id.title : 'Không xác định' %></td>
                            <td><%= comment.content %></td>
                            <td><%= comment.like_count %></td>
                            <td>
                                <a href="/admin/comments/edit/<%= comment._id %>" class="btn btn-warning btn-sm btn-action">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a href="/admin/comments/details/<%= comment._id %>" class="btn btn-info btn-sm btn-action">
                                    <i class="fas fa-info-circle"></i> Chi tiết
                                </a>
                                <a href="/admin/comments/delete/<%= comment._id %>" class="btn btn-danger btn-sm btn-action">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('../layouts/pagination', { currentPage: currentPage, totalPages: totalPages }) %>
        </div>
    </div>
</section>