<section class="content" style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-end text-danger text-uppercase">
                    <div class="d-flex justify-content-start align-items-center text-primary text-uppercase">
                        Chi tiết người dùng
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a href="/admin/users/edit/<%= user._id %>" class="btn btn-warning mr-2">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="/admin/users" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Quay lại
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="text-primary">Thông tin người dùng</h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Ảnh người dùng:
                        </dt>
                        <dd class="col-sm-9">
                            <% if (user.profile_picture) { %>
                                <img src="/<%= user.profile_picture %>" alt="<%= user.name %>" style="width: 250px; height: auto; object-fit: cover;">
                            <% } %>
                        </dd>

                        <dt class="col-sm-3">
                            Mã người dùng:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user._id %>
                        </dd>

                        <dt class="col-sm-3">
                            Họ và tên:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.username %>
                        </dd>
                        <dt class="col-sm-3">
                            Email:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.email %>
                        </dd>
                        <dt class="col-sm-3">
                            Mật khẩu:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.password %>
                        </dd>

                        <dt class="col-sm-3">
                            Ngày tạo:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.created_at %>
                        </dd>

                        <dt class="col-sm-3">
                            Lần cập nhật cuối:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.updated_at %>
                        </dd>

                        <dt class="col-sm-3">
                            Trạng thái:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.status %>
                        </dd>

                        <dt class="col-sm-3">
                            Giới thiệu:
                        </dt>
                        <dd class="col-sm-9">
                            <%= user.bio %>
                        </dd>
                    </dl>
                    
                </div>
            </div>
        </div>
    </div>
</section>
