<head>
    <link rel="stylesheet" href="../../../stylesheets/pagination.css">
</head>
<section class="content"  style="padding-top:30px"></section>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Danh sách người dùng
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/users/create" class="btn btn-success">
                            <i class="fas fa-plus"></i> Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Ảnh</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td>
                                <img src="/<%= user.profile_picture ? user.profile_picture : 'uploads/default.jpg' %>" alt="Profile Picture" style="width: 50px; height: 50px; object-fit: cover;">
                            </td>
                            
                            <td>
                                <label class="switch">
                                    <input type="checkbox" <% if (user.status === 'active') { %>checked<% } %> onchange="updateStatus('<%= user._id %>', this.checked)">
                                    <span class="slider round"></span>
                                </label>
                            </td>                  
                            
                            <td>
                                <a href="/admin/users/edit/<%= user._id %>" class="btn btn-warning btn-sm btn-action">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a href="/admin/users/details/<%= user._id %>" class="btn btn-info btn-sm btn-action">
                                    <i class="fas fa-info-circle"></i> Chi tiết
                                </a>
                                <a href="/admin/users/delete/<%= user._id %>" class="btn btn-danger btn-sm btn-action">
                                    <i class="fas fa-trash-alt"></i> Xóa
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('../layouts/pagination', { currentPage: currentPage, totalPages: totalPages }) %>
        </div>
    </div>
</section>